# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Next.js
.next/
out/

# NestJS / TypeScript
dist/
build/
*.tsbuildinfo

# Prisma
*.db
*.db-journal

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
